

/**General**/ 


<link href="https://fonts.googleapis.com/css?family=Barlow|Inconsolata" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans:600" rel="stylesheet">



body {
  background-color: white;
   border: 25px solid #fee4dd;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    overflow: auto;

 }


#container{
display: inline-grid;
    grid-template-columns: 50% 50%;
    grid-gap: 5%
    width: 100%;
    max-width: 1330px;
    margin-left: 7%;
    margin-top: 5%;

}

.content{
  display: block;
    padding: 10px 10px 10px 10px;
    width: 100%;
    overflow: hidden;
    margin: 5% 5% 5% 5%;
}

.content img{   
  width: 100%;

}


.description{
display: block;
width: 100%;
}

.description h1{
    margin-top: 40%;
    font-family: Harbour;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: 1.5px #2024c9;
    color: #fee4dd;
}

.description h1{
    margin-top: 40%;
    font-family: Harbour;
    text-align: center;
    font-size: 40px;
    -webkit-text-stroke: 1.5px #2024c9;
    color: transparent;
}


.description a{

    -webkit-text-stroke: 1.5px #2024c9;
    color: white;
text-transform: none;
text-decoration: none;
}

.description a:hover {
    color: #2024c9;
}


 /**Header and Navigation**/ 
#header{
background: #fee4dd;
  color: #2024c9;
  z-index: 999;
  font-size:20px;
  word-spacing: 50px;
  text-align:center;
font-family: 'Josefin Sans', sans-serif;
  width: 100%;
  height: 0;
  padding: 15px 0px 5px 0px;
}

#header li{
  background: transparent;
  display: inline;
    z-index: 999;

}

#header a:active, 
#header a:link, #header a:visited, #header a:hover {  
  color: #2024c9;
  text-decoration: none;
  display:inline;
}

/*Sidebar*/

#sidebar-left {
float: left; 
width: 2.5%;
top: 63%;
left: 2%;
position: fixed;
z-index: 2;
word-spacing: 25px
}

#sidebar-left li{
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    transform: rotate(-90deg);
    text-transform: lowercase;
    display: block;
    line-height: 1.4em;
    white-space: nowrap;  
font-family: 'Josefin Sans', sans-serif;  
  font-size: 15px;

}

#sidebar-left a{

  font-size: 15px;
  color:  #2024c9;
  text-transform: none;
  text-decoration: none;

}

/**About**/

#about{
background-color: #fee4dd;
display:block; 
padding: 10% 10px 25% 10px;
margin-top: -20%;
margin: 0 auto;
height: 100%;
max-width: 100%;


}

#about p{
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-size:12px;
  word-spacing: 7px;
  text-align:left;
font-family: 'Josefin Sans', sans-serif;
  color: #2024c9;

}

#about a:link, #about a:visited, #about a:hover, #about a:active{ 
  color:  #2024c9;
  text-decoration: underline;
  background-color: transparent;
font-family: 'Josefin Sans', sans-serif;

}

/*SLIDESHOW*/
* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 100%;
  position: relative;
  max-height:500px;
  overflow: hidden;
}



/* Next & previous buttons */

.prevnext
{
text-align: center;
  width: 100%;


}
.prev, .next {
  font-family: harbour;
  cursor: pointer;
  color: black;
  font-weight: bold;
  font-size: 30px;
  transition: 0.6s ease;

}

/* Position the "next button" to the right */
.next {
  right: 100px;
  border-radius: 3px 0 0 3px;
}

.prev {
  margin-right: 50%;
}


/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: .5s;
  animation-name: fade;
  animation-duration: .5s;
}

@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}



